*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

.matrix-image{
	background-image: url(./images/Nv2.gif);
	background-color: #cccccc;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	position: relative;  
}